.profile_photo {
    float: right;
    height: 250px;
    border-radius: 50%;
    width: 200px;
    margin-right: 200px;
    margin-top:0px;
}
h1{
 width:800px;
 color:white;
 font-style: italic;
 font-weight: bold;
 margin-left: auto;
 margin-right: auto;
}
footer{
    position: fixed;
    bottom: 0;
    left:0;
    text-align: center;
    background-color: aqua;
    width: 100%;
    
}

.logo{
 position: relative;   
 top: 20px;   
 width: 60px;
 height: 60px;   
 margin: 0px 8px 0px 50px ;
}
.logo1{
    position: relative;   
    top: 10px;   
    width: 50px;
    height: 50px;   
    margin: 0px ;
   }
   .English{
    position: relative;
    margin-bottom: 80px;
   }
   .psevdofooter{
       height:50px ;
   }
 h2{
     color: rgb(4, 14, 99);
 }
   nav{
       font-style: italic;
   }
   ul{
       font-style: oblique;
   }
  
   main{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
       }
    header{
    margin-left: auto;
    margin-right: auto;
    width: 900px; 
    text-align: left; 
    background-color:black;
    }
   